:root {
  font-size: 62.5%;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

/* form ---------------- */
.div,
fieldset {
  width: 250px;
  float: left;
}

select,
textarea,
input {
  width: 98%;
}

select,
textarea,
button,
fieldset,
legend,
input {
  margin: 5px 2.5px;
  padding: 4px 2.5px;
  font-size: 0.8rem;
}

input[type="checkbox"],
input[type="radio"] {
  width: 10px;
}

legend {
  color: #6f00ff;
}

legend,
label {
  font-weight: bold;
}

label {
  margin-right: 5px;
}

label[for*="-"] {
  font-weight: normal;
}

div {
  margin-bottom: 5px;
}

/* submit  -------------------- */
input[type="submit"] {
  display: inline-block;
  width: 90px;
  border: none;
  border-radius: 5px;
  background-color: #6bb300;
  color: #ffffff;
}

/* class --------------------- */

.left {
  float: left;
}
